* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.text{
    font-family: Rubik;
    color:#0B132A;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    text-decoration: none;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}



.img{
    -webkit-filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    padding:0;
    height: 500px;
}
  
@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 25px); } 
    100%   { transform: translate(0, -0px); }     
}

.btn{
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #388ff5;
    text-decoration: none;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 10px 20px #8ec0f8;
    margin-top:25px ;
    transition: all 0.3s ease 0s;
    outline: none;
}

.btn:hover{
    background-color: #124c8f;
}


.para{
    font-family: monospace; 
    font-size: 18px;
    padding-top:25px ;
}
